@use "./globals/_game";
@use "./mixins/layout";
@use "./mixins/colors";
@use "./mixins/fonts";

body {
  background-color: colors.$background;
  height: 100vh;
  width: 100%;
  margin: 0;

  font-family: fonts.$body;

  @include layout.flex(column);
  justify-content: center;
  align-items: center;
}
