@use "../mixins/colors";
@use "../mixins/fonts";

.btn {
  cursor: pointer;
  border-radius: 5px;
  border: none;

  font-family: fonts.$body;
  font-weight: 600;
  text-transform: uppercase;

  background-color: colors.$accent;
  color: colors.$surface;
}
